.home-container {
	width: 100%;
	.area {
		p {
			margin: 1rem 1.1rem;
			width: 100%;
			font-size: 2rem;
			font-weight: 500;
			text-align: left;
		}
	}
	.stacking-calls {
		width: 100%;
		text-align: left;
	}
}
